.title-background {
	width: 100%;
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex; 
	justify-content: center;
	align-items: center;
	min-height: 320px;
}

h1 {
	text-align: center;
	font-size: 4em;
	color: #ED6E25;
	font-weight: bold;
}

#marmiton-image {
	text-align: center;
	margin-top: 20px;
}

#marmiton-image img {
	max-height: 450px;
	max-width: 100%;
}

#marmiton-comment {
	text-align: center;
	margin-top: 50px;
	font-size: medium;
	padding-left: 20px;
	padding-right: 20px;
}

.refresh-button {
	text-align: center;
	margin-top: 30px;
}